.movie-card {
  width: 260px;
  color: white;
  transition: 0.3s;
}

.poster-container {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.movie-poster {
  width: 100%;
  height: 340px;
  object-fit: cover;
  display: block;
  transition: 0.4s;
}

.movie-card:hover .movie-poster {
  transform: scale(1.08);
}

.movie-overlay {
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.75);

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 15px;

  opacity: 0;

  transition: 0.3s;
}

.movie-card:hover .movie-overlay {
  opacity: 1;
}

.details-btn,
.watchlist-btn,
.remove-watchlist-btn {
  width: 160px;
  margin: 3px;
  padding: 12px;

  border: none;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.details-btn {
  background: #1e88e5;
  color: white;
}

.watchlist-btn {
  background: crimson;
  color: white;
}

.remove-watchlist-btn {
  background: #2e7d32;
  color: white;
}

.details-btn:hover,
.watchlist-btn:hover,
.remove-watchlist-btn:hover {
  transform: scale(1.05);
}

.movie-info {
  padding-top: 15px;
}

.movie-info h3 {
  font-size: 1rem;

  margin-bottom: 8px;

  overflow: hidden;

  white-space: nowrap;

  text-overflow: ellipsis;
}

.movie-rating {
  color: gold;

  margin-bottom: 6px;
}

.movie-genres {
  color: #bdbdbd;

  font-size: 0.9rem;

  overflow: hidden;

  white-space: nowrap;

  text-overflow: ellipsis;
}
