/* Navbar */
.nav {
  width: 100%;
  background: var(--card);
  padding: 14px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Layout */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.head::before {
  content: "🎬";
  margin-right: 8px;
}

.head {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary);
}

/* Right side */
.cart-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-icon,
.like-icon {
  position: relative;
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icons */
.cart-icon i,
.like-icon i {
  font-size: 20px;
  color: var(--text);
  transition: 0.2s ease;
}

.cart-icon i:hover {
  color: var(--primary);
  transform: scale(1.2);
}

.like-icon i:hover {
  color: var(--danger);
  transform: scale(1.2);
}

.cart-count,
.like-count {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(60%, -60%);

  background: var(--primary);
  color: #fff;

  font-size: 10px;
  font-weight: 700;

  min-width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 2px solid var(--card);

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.like-count {
  background: var(--danger);
}
